---
import ExamplesPosts from "../../components/ExamplesPosts.astro"
import Pagination from "../../components/Pagination.astro"
import BaseLayout from "../../layouts/BaseLayout.astro"

export async function getStaticPaths({ paginate }) {
  const allExamples = await Astro.glob("./*.md")
  allExamples.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date))
  return paginate(allExamples, {
    pageSize: 12,
  })
}

const { page } = Astro.props
const pageTitle = "実績紹介"
const pageSubTitle = "EXAMPLES"
---

<BaseLayout pageTitle={pageTitle} pageSubTitle={pageSubTitle} pageImg="/img/hero.png">
  <section class="c-cushion">
    <div class="o-container o-container:wrapper">
      <ul class="o-switcher o-switcher:c-examples-list">
        {
          page.data.map((post) => (
            <ExamplesPosts
              url={post.url}
              title={post.frontmatter.title}
              img={post.frontmatter.date}
              client={post.frontmatter.client}
              cat={post.frontmatter.cat}
            />
          ))
        }
      </ul>
      <Pagination {page} />
    </div>
  </section>
</BaseLayout>
