---
import BreadCrumb from "../components/BreadCrumb.astro"
import CommonCta from "../components/CommonCta.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import JsonLd from "../components/JsonLd.astro"
import Meta from "../components/meta.astro"
import PageTitle from "../components/PageTitle.astro"
import PostHeading from "../components/PostHeading.astro"
import setting from "../data/setting.json"

import "../styles/style.scss"
const {
  pageTitle,
  pageSubTitle,
  pageImg,
  pageDesc,
  pageKeywords,
  Heading,
  SubHeading,
  pageType,
  pubDate,
  updateDate,
  authorName,
  authorFb,
  authorTw,
  authorInstagram,
  Website,
  postCategory,
} = Astro.props
const pagePath = Astro.url.pathname
const ogpType = pageType ? pageType : "website"
/*
let isPost = ""
if (pagePath.match(/news\/\D+/gm) || pagePath.match(/examples\/\D+/gm) || pagePath.match(/posts\/\D+/gm)) {
  isPost = "true"
} else {
  isPost = ""
}
*/
const lang = setting.site.lang ? setting.site.lang : "ja"
const h_prefix = `og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# ${ogpType}: http://ogp.me/ns/${ogpType}#`
---

<html lang={lang}>
  <head prefix={h_prefix}>
    <!-- Google Tag Manager -->
    <script type="text/partytown">
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : ""
        j.defer = true
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, "script", "dataLayer", "GTM-XXXXXXX")
    </script>
    <!-- End Google Tag Manager -->
    <Meta pageTitle={pageTitle} pageImg={pageImg} pageDesc={pageDesc} pageKeywords={pageKeywords} ogpType={ogpType} />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-XXXXXXX"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Header />
    <main>
      {
        ogpType === "website" && pagePath !== "/" && (
          <PageTitle pageTitle={pageTitle} pageSubTitle={pageSubTitle} pageImg={pageImg} />
        )
      }
      {ogpType === "article" && <PostHeading Heading={Heading} SubHeading={SubHeading} />}
      <slot />
      {pagePath !== "/" && <BreadCrumb pageTitle={pageTitle} />}
      {pagePath !== "/inquiry" && <CommonCta />}
      {pagePath === "/inquiry" && <slot name="mailForm" />}
    </main>
    <Footer />
    <script>
      import "../scripts/app.js"
    </script>
    <JsonLd
      pageTitle={pageTitle}
      pageImg={pageImg}
      pageDesc={pageDesc}
      ogpType={ogpType}
      pubDate={pubDate}
      updateDate={updateDate}
      authorName={authorName}
      authorFb={authorFb}
      authorTw={authorTw}
      authorInstagram={authorInstagram}
      authorWebsite={Website}
      postCategory={postCategory}
    />
  </body>
</html>
